<div class="widget-wrap">
    <h3 class="widget-title">这就是我</h3>
      <ul class="widget entry">
        <a href='https://leiquan.website/'><img class='leiquan-avatar' src='/css/images/me.jpg' style="width: 60%; height: 60%; border-radius: 50%; margin-left:20%;"></a>
        <li class='link' style="text-align: center; margin-top:5%;">欢迎访问我的个人网站</li>
      </ul>
</div>
