<div class="widget-wrap">
    <h3 class="widget-title">喜欢的歌</h3>
      <ul class="widget entry">

        <audio id='love-music'>
          <source src="/audio/1.mp3" type="audio/mpeg">
        </audio>

        <img id='music-btn' src='/css/images/back.jpg' style="width: 60%; height: 60%; border-radius: 50%; margin-left:20%; cursor:pointer;">

        <li class='link' style="text-align: center; margin-top:5%;">送您一首优美的曲子---Scarborough Fair</li>
      </ul>
</div>
