<div class="widget-wrap">
    <h3 class="widget-title">翻墙推荐</h3>
      <ul class="widget entry">
        <a href='https://speedshadow.org/'><img src='/css/images/ss.png' style="width: 100%;"></a>
        <li class='link' style="text-align: center; margin-top:5%;">推荐一个翻墙工具，我觉得蛮不错的</li>
      </ul>
</div>
