<div class="widget-wrap">
    <h3 class="widget-title">翻墙推荐</h3>
      <ul class="widget entry">
        <a href='https://speedshadow.org/'><img src='/css/images/ss.png' style="width: 100%;"></a>
        <li class='link' style="text-align: center; margin-top:5%;">速度快、服务稳定，都不是我推荐的理由，关键是站长看起来很有情怀</li>
      </ul>
</div>
